@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-450;
	}
}

@layer components {
	.track * {
		@apply pointer-events-none;
	}

	#page-nav {
		-webkit-overflow-scrolling: touch;
  		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	#page-nav::-webkit-scrollbar {
		display: none;
	}
}
